<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447117307096-f42juop8hs6i9app49cta13sgj5t7nji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447117307096-f42juop8hs6i9app49cta13sgj5t7nji</string>
	<key>API_KEY</key>
	<string>AIzaSyBX_54DEa4omG76kpqZlOsLilUombCBR5s</string>
	<key>GCM_SENDER_ID</key>
	<string>447117307096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newPushNotification.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>new-fcm-notification-13c60</string>
	<key>STORAGE_BUCKET</key>
	<string>new-fcm-notification-13c60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447117307096:ios:13d31ab12d8c4605427bad</string>
</dict>
</plist>